.click-func{
  z-index: 50;
  height: 100%;
}

/*CSS for mobile*/

@media only screen and (max-width: 1025px) {
  body{
      background-color: black;
  }

  .video-div{
      opacity: 0.5;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      filter: brightness(50%);
      display: none;
  }

  .topnav {
      overflow: hidden;
      position: relative;
      top: 0;
      backface-visibility: hidden;
      z-index: 1;
    }
    
    .topnav #myLinks {
      display: none;
    }
    
    .topnav a {
      color: #9B85A7;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 80px;
      display: block;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .topnav a.icon {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      color: white;
    }
    
    
    .active {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 80px;
      color: #9B85A7;
      font-style: normal;


    }

    .title{
      position: absolute;
      right: 25%;
      color: white;
      top: 35%;
      text-align: center;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 40px;

    }
    
    .ScrollImg{
      position: absolute;
      bottom: 100px;
      right: 44%;
      height: 100px;
      width: auto;
  
      
  }

  img {  
    width: 150px;  
    height: auto;  
    }  

    .ScrollText{
      grid-area: ScrollText;
      color: #FFFFFF;
      font-family: Trebuchet;
      font-size: 25px;
      position: absolute;
      bottom: 5px;
      right: 42%;
      text-align: center;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .header-list{
      display: none;
  }

  #copy{
    display:none;
  }

  .ScrollImgDesktop{
    display:none;
  }

  .ScrollTextDesktop{
    display: none;
  }
}


/* CSS for desktop-based */

@media only screen and (min-width: 1025px) {
/* Add a black background color to the top navigation */
.topnav {
  background-color:black;
  overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #9B85A7;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  margin-right: 120px;
  
}

.topnav #myLinks {
  display: block;
  margin-top: 15px;

  
}

/* Changing size and font of the 'Psyche' text logo */
.topnav a.active{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    color: #9B85A7;
    font-style: normal;
}


/* Hide the link that should open and close the topnav on small screens */
.topnav a.icon {
  display: none;
}

/* Hiding non-animated title */
.title{
  display: none;
}

}

body {
  margin: 0;
  background-color: black;
}

canvas {
  display: block;
  vertical-align: bottom;

}

#copy{
  display:none;
}
/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; /* To allow menu to be accessed */
 
}

.ScrollImgDesktop{
  position: absolute;
  bottom: -25px;
  right: 48%;
  height: 100px;
  width: auto;
  
}

.desktopIMG {  
width: 50px;  
height: auto;  
}  

.ScrollImg{
  display: none;
}

.ScrollTextDesktop{
  color: #FFFFFF;
  font-family: Trebuchet;
  font-size: 10px;
  position: absolute;
  bottom: 5px;
  right: 47%;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.click-func{
  z-index: 1;
}

/* CSS for srolling menu at the side */

#superContainer {
  height:100%;
  position:relative;
}
.section{
  position: relative;
-webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
       box-sizing: border-box; 
}
.custom-full1 {
background: grey;
}
.slide {
  float: left;
}
.slide, .slidesContainer {
  height: 100%;
  display: block;
}
.slides {
height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.section.table,
.slide.table{
display:table;
width:100%;
}
.tableCell{
display:table-cell;
vertical-align: middle;
width:100%;
height: 100%;
}
.slidesContainer {
  float: left;
  position: relative;
}
.controlArrow{
  position:absolute;
  top:50%;
  cursor:pointer;
width: 0px;
height: 0px;
border-style: solid;
margin-top: -38px;
}

.controlArrow.prev{
left:15px;
width: 0px;
border-width: 38.5px 34px 38.5px 0;
border-color: transparent #fff transparent transparent;
}
.controlArrow.next{  
right:15px;
border-width: 38.5px 0 38.5px 34px;
border-color: transparent transparent transparent #fff;
}
.scrollable{
overflow:scroll;
}
.easing{
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}
#fullPage-nav{
position: fixed;
z-index: 100;
margin-top: -32px;
top: 50%;
opacity: 1;
}
#fullPage-nav.right{
right: 17px;
}
#fullPage-nav.left{
left: 17px;
}
.fullPage-slidesNav{
position: absolute;
z-index: 4;
left: 50%;
opacity: 1;
}
.fullPage-slidesNav.bottom{
bottom: 17px;
}
.fullPage-slidesNav.top{
top: 17px;
}
#fullPage-nav ul,
.fullPage-slidesNav ul{
margin:0;
padding:0;
}
#fullPage-nav li,
.fullPage-slidesNav li{
display: block;
width: 14px;
height: 13px;
margin: 7px;
position:relative;
}
.fullPage-slidesNav li{
display: inline-block;
}
#fullPage-nav li a,
.fullPage-slidesNav li a{
display: block;
position: relative;
z-index: 1;
width: 100%;
height: 100%;
cursor: pointer;
text-decoration: none;
}
#fullPage-nav li .active span,
.fullPage-slidesNav .active span{
background: #333;
}
#fullPage-nav span,
.fullPage-slidesNav span{
top: 2px;
left: 2px;
width: 8px;
height: 8px;
border: 1px solid #000;
background: rgba(0, 0, 0, 0);
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
position: absolute;
z-index: 1;
}
.fullPage-tooltip{
position: absolute;
color: #fff;
font-size: 14px;
font-family: arial, helvetica, sans-serif;
top: -2px;
}
.fullPage-tooltip.right{
right: 20px;
}
.fullPage-tooltip.left{
left: 20px;
}






